
[submodule "third/googletest"]
	path = third/googletest
	url = https://github.com/google/googletest.git
[submodule "third/ThreadPool"]
	path = third/ThreadPool
	url = https://github.com/progschj/ThreadPool.git
[submodule "third/rocksdb"]
	path = third/rocksdb
	url = https://github.com/facebook/rocksdb.git
